node_modules
.env*

# testing
/coverage
/test-results
/playwright-report
/blob-report
/playwright/.cache

# vite
/dist

# misc
.DS_Store

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# playwright mcp
.playwright-mcp
