.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 5rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 64rem;
  width: 100%;
}
