.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.figure {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}

.figure img {
  height: auto;
  border-radius: 0.5rem;
}
